<div class="container mt-5">
  <h1 class="my-5 text-center">Products</h1>
  <div *ngIf="isAdmin()" class="container my-5">
    <button (click)="openProductModal()" class="btn btn-primary">
      Add new product
    </button>
  </div>
  <div class="row justify-content-around">
    @for(product of products; track product.id; let index = $index){
      <div class="col-sm-5">
        <div class="card">
          <h5 class="card-header">{{ product.name }}</h5>
          <div class="card-body">
            <h5 class="card-title">Stock: {{ product.stock }}&nbsp; | <b>Price:</b> {{ product.price }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <a routerLink="/products/{{ product.id }}" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<!-- Button trigger modal -->
<button style="display: none;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal" #btnOpenModal> </button>

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create new product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Product name:</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
